@model List<AppRole>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}

<h1>Rol Listesi</h1>

<table class="table table-bordered">
	<tr>
		<td>#</td>
		<td>Rol Adı</td>
		<td>Rolü Sil</td>
		<td>Rolü Güncelle</td>
	</tr>
	@if (Model.Count > 0)
	{
		@foreach (var item in Model)
		{
			count++;
			<tr>
				<td>@count</td>
				<td>@item.Name</td>
				<td><a href="#" class="btn btn-outline-danger">Rolü Sil</a></td>
				<td><a href="#" class="btn btn-outline-success">Rolü Güncelle</a></td>

			</tr>
		}
	}
	else
	{
		<tr>
			<td class="alert alert-success">Herhangi bir rol bulunamadı!</td>
		</tr>
	}

</table>
<a href="#" class="btn btn-outline-primary">Yeni Rol Girişi</a></td>
